---
---

//---------------------
//   Base framework
//---------------------

@import "base/_variables";

@import "base/_mixins";
@import "base/_resets";

@import "base/_typography";
@import "base/_lists";
@import "base/_blockquotes";
@import "base/_tables";
@import "base/_code";
@import "base/_forms";
@import "base/_buttons";

@import "base/_animations";;

@media print {
  @import "base/_print";
}

@import 'grid'; //use custom grid

//-------------------
//  Polywave styles
//-------------------

@import 'utils/animations';
@import 'utils/shadow';

@import 'colors';
@import 'fonts';

html,
body {
    background-color: $dark;
    width: 100% !important;
    height: 100% !important;
    font-size: 16px;
}

body {
    position: relative;
}

a {
    font-size: inherit;
}

img {
    max-width: 100%;
}

@import 'components/logo';
@import 'components/slideshow';
@import 'components/controls';
@import 'components/podcast';

@import 'blocks/header';
@import 'blocks/content';
@import 'blocks/footer';

