
.pw-header {
    padding: 3em 1em 1em;
    color: $white;
}

.pw-header_blue {
    @include box-shadow('0 3px 6px rgba(0, 0, 0, .16), 0 3px 6px rgba(0, 0, 0, .23)');
    background-color: $primary;
}

.pw-header_top {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
}

.text-page .pw-header {
    background-image: linear-gradient(
                        to bottom right,
                        rgba(0, 47, 75, .3),
                        rgba(220, 66, 37, .3)
                    ),
                    linear-gradient(
                        to top,
                        rgba(0, 0, 0, 0) 0%,
                        rgba(0, 0, 0, .2) 100%
                    ),
                    linear-gradient(
                        to bottom right,
                        rgba(0, 0, 0, 0) 0%,
                        rgba(0, 0, 0, .3) 80%
                    ),
                    url('https://source.unsplash.com/ERSauUNQ3ag/1600x900');
    background-position: 0 70%;
    background-size: cover;

    padding-bottom: 8em;
}

.text-page_contact .pw-header {
    background-image: linear-gradient(
                        to bottom right,
                        rgba(0, 47, 75, .3),
                        rgba(220, 66, 37, .3)
                    ),
                    linear-gradient(
                        to top,
                        rgba(0, 0, 0, 0) 0%,
                        rgba(0, 0, 0, .2) 100%
                    ),
                    linear-gradient(
                        to bottom right,
                        rgba(0, 0, 0, 0) 0%,
                        rgba(0, 0, 0, .3) 80%
                    ),
                    url('https://source.unsplash.com/JiSNvVs3keU/1600x900');
    background-position: 0 20%;
}


    .pw-header-links {
        text-transform: uppercase;
        text-shadow: 0 0 4px $dark;
    }

        //.pw-header-nav {}

        ul.pw-header-nav {
            margin: 0;
            padding: 0;
            list-style: none;
        }

            ul.pw-header-nav > li {
                display: inline-block;
            }

                ul.pw-header-nav > li > a:hover {
                    text-decoration: underline;
                }

            .pw-header-nav-item {
                margin-right: 1em;
            }

                .pw-header-nav-item > a {
                    text-decoration: none;
                    color: $white;
                }


