---
---
<!doctype html>
<html>
    {% include head.html %}
    <body class="text-page text-page-contact">

        {% include header.html %}

        <div class="pw-content row row-align-center">

            <div class="col-12 col-5-desktop push-1-desktop max">
                <h1>Nous contacter</h1>
                <p>Vous pouvez contacter l'équipe étudiante derrière PolyWave
                    par mail, nous répondrons rapidement !
                </p>
                <p class="text-center">
                    <b><a href="mailto:polywavewebradio@gmail.com">
                            polywavewebradio@gmail.com
                    </a></b>
                </p>
            </div>
            <div class="col-12 col-4-desktop push-1-desktop max">

                <h3 class="row-bottom-40">
                    Nous aimons également nous retrouvez par là bas :
                </h3>

                <ul class="pw-contact-list-social">
                    <li>
                        <a target="_blank" href="https://www.facebook.com/polywaveradio/">
                            <i class="fa fa-3x fa-facebook-official"
                                aria-hidden="true">
                            </i>
                            <span>Facebook</span>
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="http://twitter.com">
                            <i class="fa fa-3x fa-twitter"
                                aria-hidden="true">
                            </i>
                            <span>Twitter</span>
                        </a>
                    </li>
                </ul>

            </div>

        </div>

        {% include footer.html %}

    </body>
</html>
