---
---
<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>PolyWave - La radio de Polytech Nantes</title>

        {% include styles.html %}

    </head>

    <body class="home-page">

        {% include header.html headerTop=true %}

        <div class="pw-content pw-slideshow container-full">
            <div class="pw-slideshow-wrapper">

                <div class="pw-slideshow-item">
                    <div class="pw-slideshow-item-elem pw-slideshow-item-bck"
                        style="background-image:url(https://source.unsplash.com/JiSNvVs3keU/1600x900)">
                    </div>
                    <div class="pw-slideshow-item-elem pw-slideshow-item-overlay"></div>
                </div>
                <div class="pw-slideshow-item">
                    <div class="pw-slideshow-item-elem pw-slideshow-item-bck"
                        style="background-image:url(https://source.unsplash.com/CuSHBGBdXc0/1600x900)">
                    </div>
                    <div class="pw-slideshow-item-elem pw-slideshow-item-overlay"></div>
                </div>
                <div class="pw-slideshow-item">
                    <div class="pw-slideshow-item-elem pw-slideshow-item-bck"
                        style="background-image:url(https://source.unsplash.com/_o6AAx9dl_Y/1600x900)">
                    </div>
                    <div class="pw-slideshow-item-elem pw-slideshow-item-overlay"></div>
                </div>
                <div class="pw-slideshow-item">
                    <div class="pw-slideshow-item-elem pw-slideshow-item-bck"
                        style="background-image:url(https://source.unsplash.com/oG6aFaWgnFs/1600x900)">
                    </div>
                    <div class="pw-slideshow-item-elem pw-slideshow-item-overlay"></div>
                </div>
                <div class="pw-slideshow-item">
                    <div class="pw-slideshow-item-elem pw-slideshow-item-bck"
                        style="background-image:url(https://source.unsplash.com/ERSauUNQ3ag/1600x900)">
                    </div>
                    <div class="pw-slideshow-item-elem pw-slideshow-item-overlay"></div>
                </div>

                <ul class="pw-slideshow-texts hidden block-tablet">
                    <li class="pw-slideshow-text">
                        <span class="pw-slideshow-text-sub">
                            Septembre 2016
                        </span>
                        <span class="pw-slideshow-text-title">
                            Lorem ipsum dolor sit amet
                        </span>
                    </li>
                    <li class="pw-slideshow-text">
                        <span class="pw-slideshow-text-sub">
                            Octobre 2016
                        </span>
                        <span class="pw-slideshow-text-title">
                            Consectetur adipiscing elit
                        </span>
                    </li>
                    <li class="pw-slideshow-text">
                        <span class="pw-slideshow-text-sub">
                            Novembre 2016
                        </span>
                        <span class="pw-slideshow-text-title">
                            Sed do eiusmod tempor incididunt
                        </span>
                    </li>
                    <li class="pw-slideshow-text">
                        <span class="pw-slideshow-text-sub">
                            Décembre 2016
                        </span>
                        <span class="pw-slideshow-text-title">
                            Duis aute irure dolor in reprehenderit
                        </span>
                    </li>
                    <li class="pw-slideshow-text">
                        <span class="pw-slideshow-text-sub">
                            Janvier 2016
                        </span>
                        <span class="pw-slideshow-text-title">
                            Neque porro quisquam
                        </span>
                    </li>
                </ul>

            </div>

            <div class="pw-controls row row-align-center js-audio-bar">
                <div class="pw-controls-button col-6 col-2-tablet col-1-desktop">
                    <div class="pw-controls-control pw-controls-play
                        js-audio-control"></div>
                </div>
                <div class="pw-controls-infos hidden block-tablet col-6-tablet
                    col-8-desktop">
                    <p class="pw-controls-title">
                    </p>
                    <div class="pw-controls-bar">
                        <div class="pw-controls-bar-position"></div>
                    </div>
                </div>
                <div class="push-1 col-5 col-2-tablet col-1-desktop">
                    <img src="//:0"
                    class="pw-controls-thumb"
                    alt="album thumbnail">
                </div>
            </div>
        </div>

        {% include footer.html %}

        <script src="lib/socket.io-client/socket.io.js"></script>
        <script src="lib/velocity/velocity.min.js"></script>
        <script src="js/audio.js"></script>
        <script src="js/currentTrack.js"></script>
    </body>
</html>
