---
---

<!doctype html>
<html>
    {% include head.html %}
    <body class="text-page text-page_header">

        {% include header.html %}

        <div class="pw-content row row-align-center">

            <div class="pw-content-wrapper col-10 push-1
                col-8-tablet push-2-tablet
                col-6-desktop push-3-desktop max">

                <h1>Exemples d'utilisation des balises texte</h1>

                <blockquote>
                    <p>
                        - Chamlis, fit-il. Je ne suis qu’un être humain. <br>
                        - Voilà, mon ami, qui n’a jamais été une excuse.
                    </p>
                    <cite>Iain M.Banks - L’homme des jeux</cite>
                </blockquote>

                <h1>Mon titre h1</h1>

                <h2>Mon titre h2</h2>

                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Fusce in erat diam. Sed et sollicitudin mi. Sed a vulputate
                    dui. Nunc vel dictum augue. Vestibulum pulvinar justo
                    lectus, sit amet tincidunt mauris pulvinar at. Sed finibus
                    tellus rutrum, euismod tellus vestibulum, aliquam nisi.
                    Quisque nibh arcu, molestie at mollis at, accumsan non
                    tortor.</p>

                <h2>Mon titre h2</h2>

                <figure>
                    <img src="https://source.unsplash.com/h13Y8vyIXNU/1600x900" alt="Une superbe photo">

                    <figcaption>Une légende pour cette photo</figcaption>
                </figure>

                <h3>Mon titre h3</h3>

                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Fusce in erat diam. Sed et sollicitudin mi. Sed a vulputate
                    dui. Nunc vel dictum augue. Vestibulum pulvinar justo
                    lectus, sit amet tincidunt mauris pulvinar at. Sed finibus
                    tellus rutrum, euismod tellus vestibulum, aliquam nisi.
                    Quisque nibh arcu, molestie at mollis at, accumsan non
                    tortor.</p>

                <h4>Mon titre h4</h4>

                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Fusce in erat diam. Sed et sollicitudin mi. Sed a vulputate
                    dui. Nunc vel dictum augue. Vestibulum pulvinar justo
                    lectus, sit amet tincidunt mauris pulvinar at. Sed finibus
                    tellus rutrum, euismod tellus vestibulum, aliquam nisi.
                    Quisque nibh arcu, molestie at mollis at, accumsan non
                    tortor.</p>

                <h2>Quelques attributs css</h2>

                <p>
                    Ceci est du <b>texte en gras</b>.
                    Voilà du <em>texte en italique</em>.
                    Du texte <del>supprimé</del>.
                    Et voilà une <mark>mark</mark>. <br>

                    Enfin, <code>voilà du code</code>.
                    Ou :
                    <pre><code>//du code</code></pre>
                </p>

                <h2>Listes et Cie</h2>

                <h3><code>ul</code></h3>
                <ul>
                    <li>item 1</li>
                    <li>item 2</li>
                    <li>item 3</li>
                    <li>item 4</li>
                    <li>item 5</li>
                </ul>

                <h3><code>ol</code></h3>
                <ol>
                    <li>item 1</li>
                    <li>item 2</li>
                    <li>item 3</li>
                    <li>item 4</li>
                    <li>item 5</li>
                </ol>

                <h3><code>ul.list-unstyled</code></h3>
                <ul class="list-unstyled">
                    <li>item 1</li>
                    <li>item 2</li>
                    <li>item 3</li>
                    <li>item 4</li>
                    <li>item 5</li>
                </ul>

                <h2>Icônes</h2>

                <p>Vous pouvez utiliser les icônes de
                    <a href="https://fortawesome.github.io/Font-Awesome/">
                        Font Awesome</a>.
                </p>
                <p> Par exemple, pour l'icône <i class="fa fa-rocket"
                        aria-hidden="true"></i>, il suffit d'insérer la balise
                    <pre><code>&lt;i class=&quot;fa fa-rocket&quot; aria-hidden=&quot;true&quot;&gt;&lt;/i&gt; </code></pre>
                </p>

                <p class="row-top-20">
                    <em>Live long and prosper</em>
                </p>

            </div>

        </div>

        {% include footer.html %}

    </body>
</html>
