<footer class="pw-footer">
    <div class="container row row-align-center">

        <div class="pw-footer-pw col-12 col-4-tablet">

            <div class="pw-footer-logos row row-align-center">
                <div class="pw-logo pw-logo-big">
                    <object class="pw-logo-svg pw-logo-svg-footer"
                        data="/images/logo_white.svg" type="image/svg+xml">
                    </object>
                    <h1 class="pw-logo-polywave">PolyWave</h1>
                </div>
                <div>
                    <img class="pw-footer-logo-poly"
                    src="/images/polytech.png" alt="logo polytech">
                </div>
            </div>

            <p class="pw-footer-punchline">
                La radio étudiante de
                <a href="http://http://web.polytech.univ-nantes.fr/">
                    Polytech Nantes
                </a>
            </p>
            <p class="pw-footer-punchline">
                Polywave est une radio du service <a href="http://www.radionomy.com">Radionomy</a>,
                en règle avec les droits d'auteurs et voisins.
            </p>
        </div>
        <div class="col-12 text-center col-3-tablet push-2-tablet
            text-left-tablet">
            <ul class="pw-footer-list">
                <li><a href="/">Accueil</a></li>
                <li><a href="/podcasts">Podcasts</a></li>
                <li><a href="/contact">Nous contacter</a></li>
            </ul>
        </div>
        <div class="col-12 text-center col-3-tablet text-left-tablet">
            <h3 class="pw-footer-follow">Nous suivre :</h3>
            <ul class="pw-footer-list pw-footer-list-social">
                <li>
                    <a target="_blank" href="https://www.facebook.com/polywaveradio/">
                        <i class="fa fa-3x fa-facebook-official"
                            aria-hidden="true">
                        </i>
                        <span>Facebook</span>
                    </a>
                </li>
                <li>
                    <a target="_blank" href="http://twitter.com">
                        <i class="fa fa-3x fa-twitter"
                            aria-hidden="true">
                        </i>
                        <span>Twitter</span>
                    </a>
                </li>
            </ul>
        </div>

    </div>
</footer>

<script src="lib/socket.io.js"></script>
<script src="lib/velocity.min.js"></script>
<script src="js/audio.js"></script>
<script src="js/currentTrack.js"></script>
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-96342492-1', 'auto');
    ga('send', 'pageview');
</script>
