//---------------------------
//   Custom flexbox grid
//---------------------------

$columns: 12;

//@see https://css-tricks.com/snippets/css/a-guide-to-flexbox/

//prefixr
//
//@param {string} prop
//@param {string|number|color} value
@mixin prefixr($prop, $value) {
    -webkit-#{$prop}: $value;
    -moz-#{$prop}: $value;
    -o-#{$prop}: $value;
    -ms-#{$prop}: $value;
    #{$prop}: $value;
}

//element
//
//Defines css rules for an element :
//- flex-grow
//- flex-basis
//
//Defines max-width class.
//
//@param {number} flex     Flex-grow value
@mixin element ($flex) {

    @include prefixr(flex-grow, $flex);
    @include prefixr(flex-basis, percentage($flex / $columns));

    &.max {
        max-width: percentage($flex / $columns);
    }
}

.container,
.container-full {
    width: 100%;
}


.row {
    @include prefixr(flex-direction, row);
    @include prefixr(flex-wrap, wrap);
    @include prefixr(justify-content, flex-start);
    @include prefixr(align-items, flex-start);
    display: flex;

    > * {
        @include element(1); //default for all .row children
    }
}

.row-end {
    @include prefixr(justify-content, flex-end);
}

.row-center {
    @include prefixr(justify-content, flex-center);
}

.row-space {
    @include prefixr(justify-content, flex-between);
}

.row-align-end {
    @include prefixr(align-items, flex-end);
}

.row-align-center {
    @include prefixr(align-items, center);
}

.row-align-stretch {
    @include prefixr(align-items, stretch);
}

.row-align-baseline {
    @include prefixr(align-items, baseline);
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}


// Mobile Rows
$i: 0;
@while $i < 60 {
    $i: $i + 5;

    .row-top-#{$i} {
        padding-top: $i * 1px;
    }
}

$i: 0;
@while $i < 60 {
    $i: $i + 5;

    .row-bottom-#{$i} {
        padding-bottom: $i * 1px;
    }
}


@for $i from 1 through $columns {
    .col-#{$i} {
        @include element($i);
    }
}

//Push Offsets
@for $i from 1 through $columns - 1 {
    .push-#{$i} {
        margin-left: percentage($i / $columns);
    }
}

.block {
    display: block;
}

.inline {
    display: inline;
}

.inline-block {
    display: inline-block;
}

.hidden {
    display: none;
}


// Tablet Grid
@media only screen and (min-width: $breakpoint-tablet) {

    .row-end-tablet {
        @include prefixr(justify-content, flex-end);
    }

    .row-center-tablet {
        @include prefixr(justify-content, flex-center);
    }

    .row-space-tablet {
        @include prefixr(justify-content, flex-between);
    }

    .row-align-end-tablet {
        @include prefixr(align-items, flex-end);
    }

    .row-align-center-tablet {
        @include prefixr(align-items, center);
    }

    .row-align-stretch-tablet {
        @include prefixr(align-items, stretch);
    }

    .row-align-baseline-tablet {
        @include prefixr(align-items, baseline);
    }

    .text-left-tablet {
        text-align: left;
    }

    .text-center-tablet {
        text-align: center;
    }

    .text-right-tablet {
        text-align: right;
    }


    // Tablet Grid
    $columns: 12;
    @for $i from 1 through $columns {
        .col-#{$i}-tablet {
            @include element($i);
        }
    }

    // Tablet Push Offsets
    @for $i from 1 through $columns - 1 {
        .push-#{$i}-tablet {
            margin-left: percentage($i / $columns);
        }
    }

    // Tablet Rows
    $i: 0;
    @while $i < 60 {
        $i: $i + 5;

        .row-top-#{$i}-tablet {
            padding-top: $i * 1px;
        }
    }
    $i: 0;
    @while $i < 60 {
        $i: $i + 5;

        .row-bottom-#{$i}-tablet {
            padding-bottom: $i * 1px;
        }
    }

    .block-tablet {
        display: block;
    }

    .inline-tablet {
        display: inline;
    }

    .inline-block-tablet {
        display: inline-block;
    }

    .hidden-tablet {
        display: none;
    }
}

// Desktop Grid
@media only screen and (min-width: $breakpoint-desktop) {

    .row-end-desktop {
        @include prefixr(justify-content, flex-end);
    }

    .row-center-desktop {
        @include prefixr(justify-content, flex-center);
    }

    .row-space-desktop {
        @include prefixr(justify-content, flex-between);
    }

    .row-align-end-desktop {
        @include prefixr(align-items, flex-end);
    }

    .row-align-center-desktop {
        @include prefixr(align-items, center);
    }

    .row-align-stretch-desktop {
        @include prefixr(align-items, stretch);
    }

    .row-align-baseline-desktop {
        @include prefixr(align-items, baseline);
    }

    .text-left-dekstop {
        text-align: left;
    }

    .text-center-dekstop {
        text-align: center;
    }

    .text-right-dekstop {
        text-align: right;
    }

    // Desktop Grid
    $columns: 12;
    @for $i from 1 through $columns {
        .col-#{$i}-desktop {
            @include element($i);
        }
    }

    // Desktop Push Offsets
    @for $i from 1 through $columns - 1 {
        .push-#{$i}-desktop {
            margin-left: percentage($i / $columns);
        }
    }

    // Desktop Rows
    $i: 0;
    @while $i < 60 {
        $i: $i + 5;

        .row-top-#{$i}-desktop {
            padding-top: $i * 1px;
        }
    }
    $i: 0;
    @while $i < 60 {
        $i: $i + 5;

        .row-bottom-#{$i}-desktop {
            padding-bottom: $i * 1px;
        }
    }

    .block-desktop {
        display: block;
    }

    .inline-desktop {
        display: inline;
    }

    .inline-block-desktop {
        display: inline-block;
    }

    .hidden-desktop {
        display: none;
    }

    .container {
        margin-right: auto;
        margin-left: auto;
        width: 1140px;
    }
}

// HD Grid
@media only screen and (min-width: $breakpoint-hd) {

    .row-end-hd {
        @include prefixr(justify-content, flex-end);
    }

    .row-center-hd {
        @include prefixr(justify-content, flex-center);
    }

    .row-space-hd {
        @include prefixr(justify-content, flex-between);
    }

    .row-align-end-hd {
        @include prefixr(align-items, flex-end);
    }

    .row-align-center-hd {
        @include prefixr(align-items, center);
    }

    .row-align-stretch-hd {
        @include prefixr(align-items, stretch);
    }

    .row-align-baseline-hd {
        @include prefixr(align-items, baseline);
    }

    .text-left-hd {
        text-align: left;
    }

    .text-center-hd {
        text-align: center;
    }

    .text-right-hd {
        text-align: right;
    }

    // HD Grid
    $columns: 12;
    @for $i from 1 through $columns {
        .col-#{$i}-hd {
            @include element($i);
        }
    }

    // HD Push Offsets
    @for $i from 1 through $columns - 1 {
        .push-#{$i}-hd {
            margin-left: percentage($i / $columns);
        }
    }

    // HD Rows
    $i: 0;
    @while $i < 60 {
        $i: $i + 5;

        .row-top-#{$i}-hd {
            padding-top: $i * 1px;
        }
    }
    $i: 0;
    @while $i < 60 {
        $i: $i + 5;

        .row-bottom-#{$i}-hd {
            padding-bottom: $i * 1px;
        }
    }

    .block-hd {
        display: block;
    }

    .inline-hd {
        display: inline;
    }

    .inline-block-hd {
        display: inline-block;
    }

    .hidden-hd {
        display: none;
    }
}
