
//---------------------
//   Base framework
//---------------------

@import 'base/variables';

@import 'base/mixins';
@import 'base/resets';

@import 'base/global';
@import 'base/lists';
@import 'base/blockquotes';
@import 'base/tables';
@import 'base/code';
@import 'base/forms';

@import 'base/assets';

@import 'grid'; //use custom grid

// Helpers
@import 'base/helpers';

@import 'mobile-styles';

// Desktop Styles
@media only screen and (min-width: $breakpoint-desktop) {
    @import 'desktop-styles';
}

@import 'base/animations';

//-------------------
//  Polywave styles
//-------------------

@import 'utils/animations';

html,
body {
    width: 100%;
    height: 100%;
}

body,
.pw-content {
    position: relative;
}


@import 'colors';
@import 'fonts';

@import 'components/logo';
@import 'components/slideshow';

@import 'blocks/header';


